
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllBooks</title>
</head>
<body>
    <p>All book present will be displayed!!</p>
    <button>click me</button>
</body>
</html>
